<div>
	<div class="calendar-header">
		<div class="col-md-4">
			<div>
				<button mat-button color="primary"
				        mwlCalendarPreviousView
				        [view]="view"
				        [(viewDate)]="viewDate"
				        (viewDateChange)="closeOpenMonthViewDay()"
				>
					Previous
				</button>
				<button mat-button
				        mwlCalendarToday
				        [(viewDate)]="viewDate"
				>
					Today
				</button>
				<button
						mat-button color="primary"
						mwlCalendarNextView
						[view]="view"
						[(viewDate)]="viewDate"
						(viewDateChange)="closeOpenMonthViewDay()"
				>
					Next
				</button>
			</div>
		</div>
		<div class="col-md-4">
			<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
		</div>
		<div>
			<div>
				<button
						mat-button color="primary"
						data-cy="btn-month-view"
						(click)="setView(calendarView.Month)"
						[class.active]="view === calendarView.Month"
				>
					Month
				</button>
				<button
						mat-button color="primary"
						data-cy="btn-week-view"
						(click)="setView(calendarView.Week)"
						[class.active]="view === calendarView.Week"
				>
					Week
				</button>
				<button
						mat-button color="primary"
						data-cy="btn-day-view"
						(click)="setView(calendarView.Day)"
						[class.active]="view === calendarView.Day"
				>
					Day
				</button>
			</div>
		</div>
	</div>
	<br/>
	<div [ngSwitch]="view" data-cy="calendar-content">
		<mwl-calendar-month-view
				*ngSwitchCase="calendarView.Month"
				[viewDate]="viewDate"
				[activeDayIsOpen]="activeDayIsOpen"
		>
		</mwl-calendar-month-view>
		<mwl-calendar-week-view
				*ngSwitchCase="calendarView.Week"
				[viewDate]="viewDate"
		>
		</mwl-calendar-week-view>
		<mwl-calendar-day-view
				*ngSwitchCase="calendarView.Day"
				[viewDate]="viewDate"
		>
		</mwl-calendar-day-view>
	</div>
</div>

